
.idea/Aplikacje-Mobilne.iml
.idea/Aplikacje-Mobilne.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/codeStyles/Project.xml
.idea/kotlinc.xml
.idea/codeStyles/Project.xml
.idea/libraries/KotlinJavaRuntime.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/codeStyles/Project.xml
Zadanie1/.idea/compiler.xml
